.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  min-height: 667px;

  align-items: center;
  justify-content: center;
}

div .logo {
  margin: 60px auto 30px auto;
}
.logo {
  display: block;
  width: 100px;
  border-radius: 2%;
  margin: auto;
}

.h1_login {
  font-size: 2rem;
  color: #151513;
  font-weight: 500;
  text-align: center;
}

.h2_login {
  text-align: center;
  color: #151513;
  font-weight: 300;
  letter-spacing: 1px;
}

form {
  margin: auto;
  position: relative;
  width: 350px;
  padding: 40px 40px 60px;
  border-radius: 10px;
  text-align: center;
}

.input {
  text-align: left;
}

.inputBox {
  margin-top: 20px;
}

form .input .inputBox label {
  display: block;
  color: #f5f5f5;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

form .input .inputBox input {
  width: 100%;
  height: 50px;

  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  color: #7209b7;
  font-size: 1.6rem;
  background: #f3f4f6;
  box-shadow: inset 3px 3px 6px #cfcfd1, inset -3px -3px 6px #ffffff;
}

.login {
  height: 40px;
  width: 70px;
  color: #151513;
  border: none;
  border-radius: 20px;
  margin-left: 50vw;
  background: linear-gradient(145deg, #ffffff, #dbdcdd);
  box-shadow: 3px 3px 6px #cfcfd1, -3px -3px 6px #ffffff;
}

.link {
  margin-top: 10px;
  color: #555;
  text-align: center;
}

.link a {
  color: #555;
  text-decoration: none;
  font-weight: 500;
}

.link a span {
  color: #555;
  text-decoration: none;
  font-weight: 600;
}
