.row-set {
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
}

.icon_set {
  display: flex;
  background: #ffffff;
  padding: 10px;
  box-shadow: 4px 4px 7px #cfcfd1, -4px -4px 7px #ffffff;
}

.icon_set:first-child {
  margin-top: 30px;
}

.icon_set p {
  padding: 20px;
  font-size: 1.6rem;
}

.icon_set button {
  margin: 5px;
  box-shadow: none;
  width: 40px;
  height: 47px;
  padding: 10px;
  display: flex;
  border: none;
  border-radius: 16px;
  background: linear-gradient(145deg, #efe9f6, #c9c4cf);
  box-shadow: 5px 5px 9px #beb9c4, -5px -5px 9px #fffbff;
}

.icon_set button:hover {
  background: linear-gradient(145deg, #533e84, #624a9d);
  box-shadow: 4px 4px 7px #cfcfd1, -4px -4px 7px #ffffff;
  color: #fffbff;
}

rgba(95,69,147) button .download {
  padding: 10px;
}
