.destaques {
  display: flex;
}

.album {
  width: 90px;
  height: 90px;
  background-color: rgba(95, 69, 147);
  margin-left: 20px;
  margin-top: 60px;
  border-radius: 5px;

  background: #5f4593;
  box-shadow: inset 6px 6px 12px #4f397a, inset -6px -6px 12px #6f51ac;
}

.info {
  margin-top: 50px;
  margin-left: 20px;
}

.comprar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autor {
  color: rgba(128, 128, 128);
}
.info .infos {
  padding-left: 10px;
  padding-right: 10px;
}
