.music_item {
  display: flex;
  margin-top: 16px;
  margin-right: 16px;
  border-radius: 16px;
  width: 154px;
  height: 112px;
  padding: 0;
  box-shadow: 4px 4px 8px #cfcfd1, -4px -4px 8px #ffffff;
}

.music_item img {
  object-fit: cover;
}
