cinza {
  color: rgba(205, 214, 223, 0.1);
  color: rgba(193, 193, 193);
  color: rgba(128, 128, 128);
},

roxo {
  color: rgba(68,70,86);
  color: rgba(38,41,56);
  color: rgba(95,69,147);
},

azul? {
  color: rgba(110,119,163);
  color: rgba(140,144,200);
},

logo {
  color: #f5f5f5;
  color: #1d1d1d;
},




